body {
    font-family: Arial, Verdana, sans-serif;
    color: #02547D;
    background-color: #E1F7E7;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 2px solid #02547D;
    padding: 20px;
}

body.admin {
    max-width: 800px;
}

nav {
    background-color: #02547D;
    color: #0284A8;
}

div {
    padding: 10px;
    margin: 10px;
}

div#lukumäärädiv {
    column-count: 4;
}

button {
    background-color: #A9E8DC;
    padding: 10px;
    border-radius: 4px;
}

button#ruokavähennä, button#ruokalisää {
    font-size: large;
    padding: 5px;
    border-radius: 12px;
}

button:hover {
    background-color: #02BEC4;
}

a:hover {
    background-color: #A9E8DC;
}

table {
    background-color: #A9E8DC;
    border: 1px solid #02547D;
}

td {
    padding: 5px;
    border-bottom: 1px solid #0284A8;
}

td:hover {
    background-color: #02BEC4;
}

input {
    margin-top: 10px;
}

p {
    font-size: large;
}

p#tunnusteksti {
    border: 1px solid #0284A8;
    margin: 5px;
    padding: 5px;
}

p#loppusumma {
    font-size: 30px;
    border: 2px solid #0284A8;
    max-width: 100px;
    margin: auto;
}

textarea {
    margin-top: 20px;
}

select {
    padding: 10px;
    font-size: large;
}

#valikkokuvat img {
    opacity: 0.3;
    width: 100px;
    height: 100px;
    padding: 10px;
}

#valikkokuvat img:hover {
    opacity: 1;
    width: 120px;
    height: 120px;
    padding: 0px;
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    background-color: #A9E8DC;
    border: 2px solid #02547D;
    border-radius: 10px;
    padding: 0px;
    margin-right: 5px;
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #02BEC4;
}

#logout{
    margin: 0px;
    background-color: #0de895;
}

textarea {
    font-family: Arial, Verdana, sans-serif;
}

.ac-renderer {
    background-color: white;
}